dotenv #importa las variables de entorno
langchain #trabajar con LLM
langchain-google-genai
langchain_huggingface
transformers
smolagents #Agentes de Huggingface
accelerate #Para trabajar con GPU
torch

